<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokemones</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
  </head>
  <body>
    <table>
      <tr>
        <th>Index</th>
        <th>Name</th>
      </tr>
      {% for i, poekemon in pokemones%}
      <tr>
        <td>{{i}}</td>
        <td>{{poekemon}}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
